backendPort=4567
frontendPort=9000
frontendURL=http://159.149.142.33
RecoveryEmailURL=http://159.149.142.33
fileUploadDIR=/home/unimi/giacomo/Backend/Files/
FlinkCSVPath=/home/unimi/giacomo/Backend/FlinkCSV/
JavaDynamicFlinkClassPath=/home/unimi/giacomo/Backend/DynamicFlink/
WebSocketPort=4568
WebSocketAddress=http://159.149.142.33
