<div class="container">
    <div class="row" ng-show="canRecovery">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" class="text-center">Password recovery - Step 2</h3>
                </div>
                <div class="panel-body">  
					Choose a new password                                 
					<form name="recoveryForm" ng-submit="updatePassword()" accept-charset="UTF-8" role="form" novalidate>               
						<div class="panel-body">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">										
										<div class="form-group has-feedback" 
										     ng-class="{'has-success': recoveryForm.password.$valid,'has-error': recoveryForm.password.$invalid && recoveryForm.password.$dirty}">
											<input type="password" name="password" 
													id="password" 
													class="form-control input-sm"
													placeholder="New password" 
													ng-model="user.newPass"
													ng-minlength="4"
													required>
											<span ng-show="recoveryForm.password.$invalid && recoveryForm.password.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<span ng-show="recoveryForm.password.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
											<p ng-show="recoveryForm.password.$error.required && recoveryForm.password.$dirty"
											   class="help-block text-danger">Required parameter.</p>
                                            <p ng-show="recoveryForm.password.$error.minlength"
                                                class="help-block text-danger">Type at least 4 digits</p>                                       											   												
										</div>
									</div>								
									<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group has-feedback"
										 ng-class="{'has-success': recoveryForm.password_confirmation.$valid,'has-error': recoveryForm.password_confirmation.$invalid && recoveryForm.password_confirmation.$dirty}">
										
											<input type="password" name="password_confirmation" 
													id="password_confirmation" 
													class="form-control input-sm"
													placeholder="confirm new password" 
													ng-model="user.newPassConfirm"
													compare-to="user.newPass"
													required>
														
											<span ng-show="recoveryForm.password_confirmation.$invalid && recoveryForm.password_confirmation.$dirty" 
												class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<span ng-show="recoveryForm.password_confirmation.$valid" 
												class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
											   
											<p ng-show="recoveryForm.password_confirmation.$error.compareTo && recoveryForm.password_confirmation.$dirty"
											   class="help-block text-danger">Passwords do not match or length less than 4 characters</p>
										   
											<p ng-show="recoveryForm.password_confirmation.$error.required && recoveryForm.password_confirmation.$dirty"
											   class="help-block text-danger">Please confirm the password.</p>										   											
												
										</div>                                
									</div>                           
									<div class="col-xs-4 col-sm-4 col-md-4">
										<input type="submit" 
											   value="Confirm"
											   class="btn btn-info btn-block signup-btn" 
											   ng-disabled="recoveryForm.$invalid">
									</div>
																				
								</div>      
								<div ng-repeat="(key,val) in alerts" class="alert {{key}}" id="login-error">
									<div ng-repeat="msg in val">{{msg}}</div>
								</div>								                                
						</div>
					</form>                                       
                </div>
            </div>
        </div>
    </div>
</div>
