<div id="tools-menu" >
<!-- Qui inserisco gli operatori e funzioni da utilizzare -->
    <!-- OPERATORI -->
    
    <div class="row tools">
		<div class="col-xs-6">							
			<div class="btn-toolbar">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tint"></span></button>
					<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#" ng-click="addNode('Source')"><span class="glyphicon glyphicon-tint"></span>&nbsp;Source</a></li>
						<li><a href="#" ng-click="addNode('Filter')"><span class="glyphicon glyphicon-filter"></span>&nbsp;Filter</a></li>
						<li><a href="#" ng-click="addNode('CullTime')"><span class="glyphicon glyphicon-hourglass"></span>&nbsp;Cull Time</a></li>
						<li><a href="#" ng-click="addNode('CullSpace')"><span class="glyphicon glyphicon-globe"></span>&nbsp;Cull Space</a></li>					
					</ul>
				</div>	
				<div class="btn-group">	
					<button class="btn btn-default green-background">
						<span class="glyphicon glyphicon-resize-horizontal"></span>
					</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-play"></span></button>
					<button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#" ng-click="addNode('Source')"></span>DCN-SCN</a></li>
						<li><a href="#" ng-click="addNode('Filter')">Flink</a></li>					
					</ul>
				</div>								
			</div>							
			
		</div>
	</div>
</div>
